<!-- home.html -->
<!DOCTYPE html>
<html>  

<head>
    <link rel="stylesheet" href="static/style.css">

    <title>Test Page</title>
</head>
<header>
    <h1 class="headertext">{{ title }}</h1>
</header>
<body>
    <div class="row">
        <div class="column">
            <h3>FORM INFO</h3>
            <section class="list">
                {% for v in venmos %}
                <div>
                    <input type="checkbox" />
                    {{ v }}
                </div>
                {% endfor %}
            </section>
        </div>


        <div class="column">
            <h3>VENMO PAYMENTS RECEIVED</h3>
    
            <section class="list">
                {% for p in payments %}
                <div class="venmoname">{{ p }}</div>
                {% endfor %}
            </section>
        </div>
    </div>
</body>
</html>